.user_details_container {
  .detail {
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 5px 0px;

    &:hover {
      background: rgba(128, 128, 128, 0.2);
    }

    h5 {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0;
      flex-basis: 50%;
    }
    p {
      flex-basis: 50%;
    }
  }
}

